<footer id="footer">
    <div class="top sm-hidden">
        <div class="block left">
            <h2>合作伙伴</h2>
            <hr>
            <ul class="ul">
                <li>冰海</li>
                <li>帅荣</li>
                <li>自嘲人</li>
            </ul>
        </div>

        <div class="block center">
            <h2>旅游FAQ</h2>
            <hr>
            <ul class="ul">
                <li>旅游合同签订方式？</li>
                <li>儿童价是基于什么制定的？</li>
                <li>旅游的线路品质是怎么界定的？</li>
                <li>旅游保险有些什么种类？</li>
            </ul>
        </div>
        <div class="block right">
            <h2>联系方式</h2>
            <hr>
            <ul class="ul">
                <li>微博：weibo.com/travle</li>
                <li>邮件：example@example.com</li>
                <li>地址：山东科技大学</li>
            </ul>
        </div>
    </div>

</footer>